*{
    margin: 0;
    overflow: hidden;
}
body{
    width: 1280;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100hv;
}

canvas{
    background-color: rgba(127, 255, 212, 0.144);
}

button{
    width: 250px;
    height: 100px;
    font-size: large;
    background-color: aqua;
    font-weight: bold;
    margin: 16px;
}

#dino{
    height: 94;
}

.score{
    width: 250px;
    height: 100px;
    font-size: larger;
    background-color: rgb(208, 255, 0);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}